body {
  margin: 0;
  background-color: #f2f2f2;
}

* {
  font-family: "Exo 2", sans-serif;
  box-sizing: border-box;
}

h1 {
  color: #1d2540;
}

h2 {
  color: #333;
}

.section {
  background-color: #f2f2f2;
  max-width: 390px;
  padding: 0 0.5em;
}

.header {
  height: 68px;
  background: #fff;
  border: 1px solid #666;
}

.header-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.header-section {
  display: flex;
  flex-direction: row;
}

.search-mobile {
  display: none;
  position: absolute;
  top: 4rem;
  z-index: 10;
  background-color: #fff;
  padding: 0.2rem;
  width: 100%;
  margin-left: -1rem;
}

.search-mobile input {
  width: 100%;
  font-size: 1em;
  border: none;
  padding: 0.5rem;
}

#search-icon {
  display: none;
}

.mobile-only {
  display: flex;
}

.hamburger-menu {
  position: absolute;
  margin-top: 0.15em;
}

.hamburger-menu-dropdown {
  z-index: 20;
}

#hamburger-menu {
  opacity: 0;
}

.app-navigation-drawer {
  display: none;
  background: #fff;
  padding: 1em;
  list-style: none;
  position: absolute;
  margin-left: -16.95em;
  margin-top: 0.7em;
  width: 100%;
}

.app-navigation-drawer li {
  padding: 1em;
}
.app-navigation-drawer a {
  text-decoration: none;
  list-style-type: none;
  color: #333;
}

.app-navigation-drawer a:hover {
  text-decoration: underline;
  color: #7a778c;
}

#hamburger-menu:checked ~ .app-navigation-drawer {
  display: flex;
  flex-direction: column;
}

#search-icon:checked ~ .search-mobile {
  display: flex;
}

.desktop-only {
  display: none;
}

.dropdown {
  position: relative;
}

.dropdown-menu li {
  margin: 0.5em 0;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #000;
}

.dropdown-menu li a:hover {
  color: #7a778c;
  text-decoration: underline;
}

.store-menu-label {
  cursor: pointer;
}

.store-menu-label:hover {
  text-decoration: underline;
  color: #7a778c;
}

#store-menu {
  display: none;
}

#store-menu:checked ~ .dropdown-menu {
  display: flex;
}

.logo img {
  width: 80px;
  margin-top: 4px;
  margin-left: 3.5rem;
}

.profile {
  padding: 0;
}

.cart {
  margin-left: 3em;
}

.header-section > a {
  margin-left: 3em;
  color: #000;
  text-decoration: none;
}

.header-section > a:hover {
  color: #7a778c;
  text-decoration: underline;
}

.main-title {
  margin-top: 32px;
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #33333370;
}

.title {
  margin: 6px 0 6px 0;
}

.contact {
  font-size: 1.1em;
  height: 37px;
  width: 100%;
  border: 1px solid;
  background-color: #fff;
  margin: 0;
  text-align: center;
  padding: 8px 0;
}
.name {
  width: 170px;
}

.names {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-pic {
  display: none;
}

.mobile-profile-pic {
  background-image: url(../Images/profile-pic.png);
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin: 0 auto;
}

.profile-pic-container {
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-button {
  padding: 1.5rem;
  border-radius: 23px;
  background-color: #1d2540;
  color: #fff;
  text-decoration: none;
  border: 5px solid transparent;
}

.edit-button:hover {
  background-color: #f2f2f2;
  border: 5px solid #1d2540;
  color: #1d2540;
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.assassin {
  display: none;
}

.game {
  margin: 0 2em;
}

.game-image {
  height: 150px;
}

.game-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-button {
  padding: 1.2rem;
  border-radius: 23px;
  background-color: #1d2540;
  color: #fff;
  text-decoration: none;
  margin-bottom: 2rem;
}

.information-button {
  width: 100%;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 4em;
}

.footer {
  width: 100%;
  margin-top: 125px;
  border-top: 1px solid #666;
  background-color: #e5e5e5;
  padding: 1rem;
}

.footer-links li {
  list-style-type: none;
  color: #333;
}

.footer-links {
  padding: 0;
}

.footer-links a {
  text-decoration: none;
  list-style-type: none;
  color: #333;
}

.footer-links a:hover {
  text-decoration: underline;
  color: #7a778c;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 767px) {
  .section {
    margin: 0px auto;
    max-width: 1110px;
    padding: 0;
  }

  .section2 {
    margin: 0px auto;
    max-width: 1110px;
  }

  .header-content {
    max-width: 1110px;
    margin: 0px auto;
    padding: 0;
  }

  .mobile-only {
    display: none;
  }

  #hamburger-menu {
    display: none;
  }

  .hamburger-menu-dropdown {
    display: none;
  }

  .desktop-only {
    display: flex;
  }

  .dropdown-menu {
    z-index: 10;
    position: absolute;
    display: none;
    list-style-type: none;
    flex-direction: column;
    width: 162px;
    background-color: #fff;
    margin: 0;
    padding: 0.5em;
    box-shadow: 0px 2px 5px 1px #00000020;
    border-radius: 0 0 0.2em 0.2em;
    top: 46px;
  }

  .dropdown-menu li {
    margin: 0.5em 0;
  }

  .logo img {
    margin-left: 0;
  }

  .profile {
    padding: 0.15em;
  }

  .main-title {
    margin-top: 58px;
    text-align: left;
    font-size: 2.4rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .container3 {
    flex-direction: row;
  }

  .title {
    margin: 6px 0 6px 0;
  }

  .contact {
    font-size: 1.5em;
    height: 56px;
    width: 470px;
    border: 1px solid;
    background-color: #fff;
    margin: 0;
    text-align: center;
    padding: 12px 0;
  }
  .name {
    width: 224px;
  }

  .section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .profile-pic-container {
    order: 2;
  }

  .mobile-profile-pic {
    display: none;
  }

  .profile-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .profile-pic {
    display: block;
    width: 100%;
    border-radius: 0;
    margin: 0;
  }

  .password {
    margin-bottom: 4.12em;
  }

  .edit-button {
    padding: 1.5rem;
    border-radius: 23px;
    background-color: #1d2540;
    color: #fff;
    text-decoration: none;
  }

  .information-button {
    margin: 0;
  }

  .game-heading {
    margin-top: 32px;
    text-align: left;
    padding: 1em 0;
  }

  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em 0 0 0;
  }

  .game-image {
    height: 243px;
  }

  .game-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .game-title {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .game-button {
    padding: 1.5rem;
    border-radius: 23px;
    background-color: #1d2540;
    color: #fff;
    text-decoration: none;
    margin-bottom: 2rem;
    border: 5px solid transparent;
  }

  .game-button:hover {
    border: 5px solid #1d2540;
    background-color: #f2f2f2;
    color: #1d2540;
  }

  .container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer {
    margin-top: 4rem;
  }
}
